.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
  text-align: center;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}